body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://previews.123rf.com/images/kostafly/kostafly1710/kostafly171000051/87554907-el-fondo-creativo-hermoso-fondo-para-un-sitio-o-formulario-consiste-en-formas-y-l%C3%ADneas-fant%C3%A1sticas.jpg);
}
.form-contenedor{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    border: 1rem;
    border-color: brown;
    background-color: wheat;
    text-align: center;
}
.enviar{
    border-radius: 1rem;
    background-color: green;
}
.Cancelar{
    border-radius: 1rem;
    background-color: red;
}
.Nombre{
    background-color: whitesmoke;
}
.Preform{
align-items: center;
font-weight: bold;
color: black;
width: 750px;
height: 500px;
background-color: wheat;
}
